<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ArtFight - simply do it!</title>

    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
	<link href="/stylesheets/style.css" rel="stylesheet">
	
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">
	
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
	  	  <p><center>ArtFight! - simply do it!</center></p>
      </div>
    </div>
	
	<div class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="navbar-inner">
	  <p><center>Paweł Tomaszewski s8147 - Projekt TIN ITN 2013</center></p>
      </div>
    </div>

    <div class="container">
      <div class="row">
	        <div class="span6">
	        	<div class="P1 well-small">
		          <div id="playerLeftAvatar"></div>
				  <div id="playerLeftName">
	        			<h2>Oczekiwanie na gracza...</h2>
	        		</div>
              <br>
		          <div id="stepLeft"></div>
				  <div id="oczekLeft"></div>
	          </div>
	       </div>
	        <div class="span6">
	        	<div class="P2 well-small">
	        		<div id="playerRightAvatar"></div>
					<div id="playerRightName">
						    <h2>Oczekiwanie na gracza...</h2>
	        		</div>
              <br>
		          <div id="stepRight"></div>
				  <div id="oczekRight"></div>
	          </div>
	       </div>
       </div>

      <div class="button" id="button">
        <center><button id="next" class="btn btn-primary btn-large">Następne zadanie</button></center>
      </div>
	  <br>
	  <div class="button" id="button2">
       <center><button id="next-allow" class="btn btn-success btn-large">Zezwól</button> <button id="next-disallow" class="btn btn-danger btn-large">Zabroń</button></center>
      </div>
	  <br>
	  
	 <div class="hero-unit chat">
		<div class="wpis">
			<input id="data" style="width:400px" />
			<input type="button" id="datasend" value="Wyślij" />
		</div>
	  
		<div class="tresc" id="tresc">
		</div>
	  </div>

    </div>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/socketscript.js"></script>
  </body>
</html>